<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.mapper.UserMapper">
    <!--
        namespace：名称空间
            比如下面配置了一个select，要使用的话必须通过namespace.id
        select：
            id：该sql命令的获取标识
            resultType：类的全限定名，返回类型
    -->
     <select id="login" resultType="user">
     	select * from applicant_login where Sno = #{sno} and Apassword = #{password} 
     </select>
</mapper>